<main class="main">
    <div class="description">
      <div class="location">
        <!-- <Location /> -->
        <div class="locationTitle">
          {{ location }}
        </div>
      </div>
      <div class="currentDate">
        {{ date }}
      </div>
    </div>
    <div class="center">
      <div class="rtContainer" style="height: 368px;">
        <div class="rtBanner">
          <app-realtime></app-realtime>
          <div>
            <!-- <MySwitch /> -->
          </div>
        </div>
        <div class="cloudSmall">
          <img src="../../assets/cloudSmall.png" alt="cloud small" width={146} height={84} />
        </div>
        <div class="cloudLarge">
          <img src="../../assets/cloudLarge.png" alt="cloud large" width={208} height={114} />
        </div>
      </div>
      <app-forecast></app-forecast>
    </div>
</main>
