.forecastContainer {
    --gap: 2em;
    --line-thickness: 1px;
    --line-color: #D8D8D8;
    --line-offset: calc(var(--gap) / 2);
  
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: stretch;
    gap: var(--gap);
    margin: 0px 20px;
    overflow: hidden;
    color: #4A4A4A;
}
