// Variables
$background-start-rgb: 17 93 163;
$background-end-rgb: 78 207 237;

body {
    background: linear-gradient(
        to right top,
        transparent,
        rgb( $background-end-rgb )
      )
      rgb($background-start-rgb);
}